/* You need to create the rest of styles for the layout shown 
todo: overall: style the page like the example
todo: style teh button and flexbox likew the example
*/

.serviceForm {
    display: flex;
    flex-direction: column;
    max-width: 50%;
    justify-content: center;
}

.button {
    margin: 1rem 0 2rem 2rem;
    padding: 0.5rem;
    background-color: goldenrod;
    color: black;
    font-size: 1rem;
}

